@font-face {
    font-family: "textfont";
    src: url("/fonts/cmunorm.woff") format('woff');
}
@font-face {
    font-family: "textfont";
    src: url("/fonts/cmunoti.woff") format('woff');
    font-style: italic;
}
@font-face {
    font-family: "headingfont";
    src: url("/fonts/cmunss.woff") format('woff');
}
@font-face {
    font-family: "headingfont";
    src: url("/fonts/cmunsx.woff") format('woff');
    font-weight: bold;
}

html {
    color-scheme: light dark;
}

:root {
    --font-size: 16px;

    --light-color-accent: #b111c9;
    --dark-color-accent: #e358ff;
    --light-color-accent2: #11c9b1;
    --dark-color-accent2: #58ffe3;
    --light-color-accent3: #c9b111;
    --dark-color-accent3: #ffe358;
    --light-color-accent-text: #fff;
    --dark-color-accent-text: #000;
    --light-color-text: #000;
    --dark-color-text: #fff;
    --light-color-group-background: #eee;
    --dark-color-group-background: #333;
    --light-background: #fff;
    --dark-background: rgb(32, 32, 32);
    --light-header-background: rgba(255, 255, 255, 0.85);
    --dark-header-background: rgba(32, 32, 32, 0.85);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-accent: var(--light-color-accent);
        --color-accent2: var(--light-color-accent2);
        --color-accent3: var(--light-color-accent3);
        --color-accent-text: var(--light-color-accent-text);
        --color-text: var(--light-color-text);
        --color-group-background: var(--light-color-group-background);
        --background: var(--light-background);
        --header-background: var(--light-header-background);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: var(--dark-color-accent);
        --color-accent2: var(--dark-color-accent2);
        --color-accent3: var(--dark-color-accent3);
        --color-accent-text: var(--dark-color-accent-text);
        --color-text: var(--dark-color-text);
        --color-group-background: var(--dark-color-group-background);
        --background: var(--dark-background);
        --header-background: var(--dark-header-background);
    }
}

body { font-family: headingfont;
    font-size: var(--font-size);
    margin: 0; padding: 0;
    background-color: var(--background);
}
a { color: var(--color-accent2); text-decoration: none; text-decoration-color: var(--color-accent2); }
a:hover { color: var(--color-accent2); text-decoration: underline; }
a.external { color: var(--color-accent3) !important; text-decoration-color: var(--color-accent3); }
div.content {
    margin: 1em auto;
}
h1,h2,h3,h4,h5,h6 { font-family: headingfont; }
h1 { text-align: center; }
/* set ul padding so li bullets are flush left */
ul { padding-left: 1.25em; }
p.src { font-size: 80%; font-style: italic;}
.otitle { text-align: center; }
h1.otitle { margin-top: 1em; }
.line:hover, .line-match { background-color: rgba(255, 255, 0, 0.25); }
.langid {
    font-family: textfont;
    font-style: italic;
    text-align: center;
    font-size: 14pt;
}
.lang-akkts, .lang-akk p, .lang-akk li, 
.lang-suxts, .lang-sux p, .lang-sux li {
    font-style: italic;
    opacity: 0.75;
    font-size: 11pt !important;
    line-height: 12pt !important;
}
.lang-en { opacity: 0.5; }
.lang-ml_en {}
.translations-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 2em;
}
.text {
    line-height: 14pt;
    font-family: textfont;
    max-width: 400px;
    margin: 0em 1em;
    font-size: 12pt;
}
.textarea h1 {
    font-family: textfont;
    font-variant: small-caps;
    font-size: 18pt;
    margin-top: 2em;
}

.publications-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 2em;
    margin-bottom: 2em;
}

.browsedims-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 2em;
    margin-bottom: 2em;
}

.browsedims-container section {
    max-width: 20em;
}

.browsedims-container section a {
    margin-right: 1em;
}

.pub {
    background: linear-gradient(rgba(110,110,110,0.25), rgba(80,80,80,0.15));
    border-radius: 1em;
    max-width: fit-content;
}

.pubs-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 2em;
    row-gap: 1em;
    margin-bottom: 2em;
    width: 100%;
}

.selection-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

.selection-text {
    margin: 0em 1em;
}

.text-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    column-gap: 4em;
    width: 100%;
    /* stick to top */
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--header-background);
}

#search-input {
    padding: 0.25em 0.75em;
    font-size: 150%;
    background-color: rgba(110,110,110,0.25);
    border-radius: 0.5em;
    border: none;
}
